body {
    background-color: lightblue;
    padding: 5px 25px;
    width: 800px;
    margin: auto;
    color: #444;

}
h1, h2 {
    font-family: "Merriwater",serif;
    clear:both;

}
img {
   margin: 22px 10px 10px 0px;
   float:left
}


  
  li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.nav) {
    background-color: green;
  }
th{
    background-color:green;
}
table,tr,th{
    border-collapse: collapse;
}